.init {
  background-image: url(../Imagenes/mlaga-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.first-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-logo h1 {
  padding: 25px;
  margin: 0;
  display: flex;
  align-items: center;
  font-family: "Delicious", cursive;
  font-size: 4em;
}
.first-logo h1 img {
  width: 100px;
  height: auto;
}

.introduction div p {
  text-align: center;
  color: #ffffe0;
  font-family: "Lobster", sans-serif;
  font-size: 33px;
  font-style: normal;
  margin: 5px;
}

.button-decoration {
  padding: 5%;
}
.button-decoration ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}
.button-decoration ul li {
  position: relative;
}
.button-decoration ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
  color: #333;
  background-color: #f5f5f5;
  transition: background-color 0.3s;
}
.button-decoration ul li a:hover {
  background-color: #ddd;
}
.button-decoration ul li a.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: ghostwhite;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.button-decoration ul li a.cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}
.button-decoration ul li a.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  padding: 0.8em 1.2em 0.8em 1.05em;
}
.button-decoration ul li a.cssbuttons-io::before, .button-decoration ul li a.cssbuttons-io::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.button-decoration ul li a.cssbuttons-io::before {
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
.button-decoration ul li a.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}
.button-decoration ul li a.cssbuttons-io:active {
  transform: scale(0.95);
}

.autor-end {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  border-top: 2px solid white;
  background-color: #bdb76b;
}
.autor-end div {
  margin-top: 5px;
}
.autor-end div p {
  color: black;
}

.end-bdy {
  background-color: #FFE4B5;
}

.finder {
  background-color: #FFF8DC;
  padding: 10px;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.finder nav {
  overflow-x: auto;
  white-space: nowrap;
}
.finder nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.finder nav ul li {
  display: inline-block;
  margin: 0 1%;
}
.finder nav ul li a {
  font-family: "Bebas Neue", sans-serif;
  text-decoration: none;
  color: gray;
}
.finder nav ul li a img {
  max-width: 50px;
  margin-right: 10px;
}

.ready {
  padding: 10px;
}
.ready .big h1 {
  font-family: "Lilita One", sans-serif;
}
.ready .rb2 {
  margin: 5px;
}
.form-p {
  padding-bottom: 30px;
}
.form-p .contact h2 {
  font-family: "Lilita One", sans-serif;
  margin: 10px;
}
.form-p .contact form {
  margin: 5px;
}
.limit-ft {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  border-top: 2px solid white;
  background-color: #bdb76b;
}
.limit-ft div {
  margin-top: 5px;
}

.noso-bdy {
  background-color: #FFE4B5;
}

.navb {
  background-color: #FFF8DC;
  padding: 10px;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.navb nav {
  overflow-x: auto;
  white-space: nowrap;
}
.navb nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navb nav ul li {
  display: inline-block;
  margin: 0 1%;
}
.navb nav ul li a {
  font-family: "Bebas Neue", sans-serif;
  text-decoration: none;
  color: gray;
}
.navb nav ul li a img {
  max-width: 50px;
  margin-right: 10px;
}

.identity {
  padding: 15px 5px 15px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.identity div h1 {
  text-align: center;
  font-family: "Lilita One", sans-serif;
  font-size: 2em;
}
.identity .amigos-img img {
  width: 70%;
  margin: 0 auto;
  display: block;
}

.adj-first {
  padding-top: 5px;
  padding-bottom: 20px;
  text-align: center;
}
.adj-first div {
  margin: 5px;
}
.adj-first div h2 {
  font-family: "Lilita One", sans-serif;
}
.adj-first .soc-net a img {
  max-width: 100px;
  height: 100px;
  margin: 0 30px;
}

.foot-nos-aut {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  border-top: 2px solid white;
  background-color: #bdb76b;
}
.foot-nos-aut div {
  margin-top: 5px;
}

.merch-bdy {
  background-color: #FFE4B5;
}

.produ-nvb {
  background-color: #FFF8DC;
  padding: 10px;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.produ-nvb nav {
  overflow-x: auto;
  white-space: nowrap;
}
.produ-nvb nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.produ-nvb nav ul li {
  display: inline-block;
  margin: 0 1%;
}
.produ-nvb nav ul li a {
  font-family: "Bebas Neue", sans-serif;
  text-decoration: none;
  color: gray;
}
.produ-nvb nav ul li a img {
  max-width: 50px;
  margin-right: 10px;
}

.int-merch {
  padding: 15px;
}
.int-merch .first-ti-me h1 {
  font-family: "Lilita One", sans-serif;
}
.int-merch .text-comment {
  margin-top: 15px;
}
.product-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  grid-template-rows: repeat(3, 1fr); /* Tres filas */
  gap: 20px; /* Espacio entre las cards */
  padding: 20px;
}
.product-options .merch-card {
  position: relative;
  width: 11.875em;
  height: 16.5em;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 3.4em;
}
.product-options .merch-card::after {
  content: "Add to Cart";
  padding-top: 1.25em;
  padding-left: 1.25em;
  position: absolute;
  left: 0;
  bottom: -60px;
  background: #00AC7C;
  color: #fff;
  height: 2.5em;
  width: 90%;
  transition: all 80ms;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
}
.product-options .merch-card .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 1.875em;
  font-weight: 400;
  color: #000;
}
.product-options .merch-card .price {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 0.625em;
  color: #000;
}
.product-options .merch-card:hover::after {
  bottom: 0;
  opacity: 1;
}
.product-options .merch-card:active {
  transform: scale(0.98);
}
.product-options .merch-card:active::after {
  content: "Added !";
  height: 3.125em;
}
.product-options .merch-card .text {
  max-width: 55px;
}
.product-options .merch-card .image {
  background: rgb(241, 241, 241);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.buy-foot-aut {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  border-top: 2px solid white;
  background-color: #bdb76b;
}
.buy-foot-aut div {
  margin-top: 5px;
}

.ser-bdy {
  background-color: #FFE4B5;
}

.serv-nav {
  background-color: #FFF8DC;
  padding: 10px;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.serv-nav nav {
  overflow-x: auto;
  white-space: nowrap;
}
.serv-nav nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.serv-nav nav ul li {
  display: inline-block;
  margin: 0 1%;
}
.serv-nav nav ul li a {
  font-family: "Bebas Neue", sans-serif;
  text-decoration: none;
  color: gray;
}
.serv-nav nav ul li a img {
  max-width: 50px;
  margin-right: 10px;
}

.discover {
  padding: 25px 0px;
}
.discover div h1 {
  margin: 0px 15px;
  font-family: "Lilita One", sans-serif;
}
.discover .modi-text {
  padding: 5px;
}
.discover .modi-text p {
  margin: 15px;
}
.discover .modi-text p em {
  font-weight: bold;
}

.ab-crd {
  padding: 15px;
}
.ab-crd div {
  margin: 20px;
  text-align: center;
}
.ab-crd div h2 {
  font-family: "Lilita One", sans-serif;
  font-size: 3em;
}
.ab-crd .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.ab-crd .cards .red {
  background-color: #f43f5e;
}
.ab-crd .cards .blue {
  background-color: #3b82f6;
}
.ab-crd .cards .green {
  background-color: #22c55e;
}
.ab-crd .cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 150px;
  width: 350px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms transform, 400ms box-shadow, 400ms background-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.ab-crd .cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}
.ab-crd .cards .card p.second-text {
  font-size: 0.7em;
}
.ab-crd .cards .card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  color: #333;
}
.ab-crd .cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.adventure {
  padding: 10px;
}
.adventure div {
  margin: 10px;
}
.adventure div h3 {
  font-family: "Lilita One", sans-serif;
}

.foot-ser-aut {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  border-top: 2px solid white;
  background-color: #bdb76b;
}
.foot-ser-aut div {
  margin-top: 5px;
}

/*# sourceMappingURL=style.css.map */
