.init {
  background-image: url(../Imagenes/mlaga-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.first-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-logo h1 {
  padding: 50px;
  margin: 0;
  display: flex;
  align-items: center;
  font-family: "Delicious", cursive;
  font-size: 4em;
}
.first-logo h1 img {
  width: 100px;
  height: auto;
  margin: 0px 15px;
}
@media only screen and (max-width: 768px) {
  .first-logo h1 img {
    width: 70px;
    margin: 0px 10px;
  }
}
@media only screen and (max-width: 768px) {
  .first-logo h1 {
    font-size: 1.9em;
    padding: 20px;
  }
}

.introduction {
  padding: 10px;
}
.introduction div p {
  text-align: center;
  color: #ffffe0;
  font-family: "Lobster", sans-serif;
  font-size: 33px;
  font-style: normal;
  margin: 5px;
}
@media only screen and (min-width: 769px) {
  .introduction div p {
    font-size: 40px;
  }
}
@media only screen and (min-width: 769px) {
  .introduction {
    padding: 15px;
  }
}

.button-decoration {
  padding: 65px;
}
.button-decoration ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}
.button-decoration ul li {
  position: relative;
}
.button-decoration ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
  color: #333;
  background-color: #f5f5f5;
  transition: background-color 0.3s;
}
.button-decoration ul li a:hover {
  background-color: #ddd;
}
.button-decoration ul li a.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: ghostwhite;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.button-decoration ul li a.cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}
.button-decoration ul li a.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  padding: 0.8em 1.2em 0.8em 1.05em;
}
.button-decoration ul li a.cssbuttons-io::before, .button-decoration ul li a.cssbuttons-io::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.button-decoration ul li a.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}
.button-decoration ul li a.cssbuttons-io:active {
  transform: scale(0.95);
}
@media only screen and (max-width: 768px) {
  .button-decoration ul li a.cssbuttons-io {
    font-size: 10px;
    padding: 20px 5px;
  }
}
@media only screen and (min-width: 769px) {
  .button-decoration ul li a.cssbuttons-io {
    padding: 27px;
    margin: 9px;
    font-size: 21px;
  }
  .button-decoration ul li a.cssbuttons-io::before {
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }
}
@media only screen and (min-width: 769px) {
  .button-decoration {
    padding: 86px;
  }
}

.autor-end {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  border-top: 2px solid white;
  background-color: #bdb76b;
}
.autor-end div {
  margin-top: 5px;
}
.autor-end div p {
  color: black;
}

.end-bdy {
  background-color: #FFE4B5;
}

.finder {
  background-color: #FFF8DC;
  padding: 10px;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.finder .th-last {
  overflow-x: auto;
  white-space: nowrap;
}
.finder .th-last ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.finder .th-last ul li {
  display: inline-block;
  margin: 0 1%;
}
.finder .th-last ul li a {
  font-family: "Bebas Neue", sans-serif;
  text-decoration: none;
  color: gray;
}
.finder .th-last ul li a img {
  max-width: 50px;
  margin-right: 10px;
}
.finder .th-last ul li a:hover {
  color: black;
}
.finder .th-last ul li a:active {
  color: black;
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  .finder .th-last {
    display: none;
  }
}
.finder .boots-nav {
  font-family: "Bebas Neue", sans-serif;
}
.finder .boots-nav img {
  width: 50px;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .finder .boots-nav {
    padding: 10px;
  }
}
@media only screen and (min-width: 769px) {
  .finder .boots-nav {
    display: none;
  }
}

.ready {
  padding: 25px 15px;
  font-size: 20px;
}
.ready .big h1 {
  font-family: "Lilita One", sans-serif;
}
.ready .rb2 {
  margin: 5px;
}
.form-p .contact h2 {
  margin: 20px;
  font-family: "Lilita One", sans-serif;
}
.form-p .contact form fieldset {
  margin: 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.form-p .contact form fieldset legend {
  margin-bottom: 25px;
}
.form-p .contact form fieldset .form-group {
  margin-bottom: 20px;
}
.form-p .contact form fieldset .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-p .contact form fieldset .form-group .input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-p .contact form fieldset .submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.form-p .contact form fieldset .submit-button:hover {
  background-color: #45a049;
}

.limit-ft {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  border-top: 2px solid white;
  background-color: #bdb76b;
}
.limit-ft div {
  margin-top: 5px;
}

.noso-bdy {
  background-color: #FFE4B5;
}

.navb {
  background-color: #FFF8DC;
  padding: 10px;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.navb .the-first {
  overflow-x: auto;
  white-space: nowrap;
}
.navb .the-first ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navb .the-first ul li {
  display: inline-block;
  margin: 0 1%;
}
.navb .the-first ul li a {
  font-family: "Bebas Neue", sans-serif;
  text-decoration: none;
  color: gray;
}
.navb .the-first ul li a img {
  max-width: 50px;
  margin-right: 10px;
}
.navb .the-first ul li a:hover {
  color: black;
}
.navb .the-first ul li a:active {
  color: black;
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  .navb .the-first {
    display: none;
  }
}
.navb .boots-nav {
  font-family: "Bebas Neue", sans-serif;
}
.navb .boots-nav img {
  width: 50px;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .navb .boots-nav {
    padding: 10px;
  }
}
@media only screen and (min-width: 769px) {
  .navb .boots-nav {
    display: none;
  }
}

.identity {
  padding: 35px 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.identity .our-story {
  margin: 10px;
}
.identity .our-story h1 {
  text-align: center;
  font-family: "Lilita One", sans-serif;
  font-size: 2em;
}
@media only screen and (min-width: 769px) {
  .identity .our-story h1 {
    font-size: 4em;
  }
}
.identity .about {
  margin: 10px;
}
@media only screen and (min-width: 769px) {
  .identity .about p {
    text-align: center;
    font-size: 25px;
  }
}
@media only screen and (min-width: 769px) {
  .identity .about {
    margin: 60px 0px;
  }
}
.identity .amigos-img {
  margin: 20px 0px;
}
.identity .amigos-img img {
  width: 70%;
  margin: 0 auto;
  display: block;
}
@media only screen and (max-width: 768px) {
  .identity {
    padding: 40px 30px;
  }
}
@media only screen and (min-width: 769px) {
  .identity {
    padding: 30px;
  }
}

.adj-first {
  padding: 17px 5px 35px;
  text-align: center;
}
.adj-first .af-next {
  margin: 5px;
}
.adj-first .af-next h2 {
  font-family: "Lilita One", sans-serif;
}
.adj-first .soc-net {
  padding-top: 15px;
}
.adj-first .soc-net a img {
  max-width: 100px;
  height: 100px;
  margin: 0 30px;
}
@media only screen and (max-width: 768px) {
  .adj-first .soc-net a img {
    max-width: 80px;
    height: 80px;
    margin: 0 15px;
  }
}

.foot-nos-aut {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  border-top: 2px solid white;
  background-color: #bdb76b;
}
.foot-nos-aut div {
  margin-top: 5px;
}

.merch-bdy {
  background-color: #FFE4B5;
}

.produ-nvb {
  background-color: #FFF8DC;
  padding: 10px;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.produ-nvb .the-third {
  overflow-x: auto;
  white-space: nowrap;
}
.produ-nvb .the-third ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.produ-nvb .the-third ul li {
  display: inline-block;
  margin: 0 1%;
}
.produ-nvb .the-third ul li a {
  font-family: "Bebas Neue", sans-serif;
  text-decoration: none;
  color: gray;
}
.produ-nvb .the-third ul li a img {
  max-width: 50px;
  margin-right: 10px;
}
.produ-nvb .the-third ul li a:hover {
  color: black;
}
.produ-nvb .the-third ul li a:active {
  color: black;
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  .produ-nvb .the-third {
    display: none;
  }
}
.produ-nvb .boots-nav {
  font-family: "Bebas Neue", sans-serif;
}
.produ-nvb .boots-nav img {
  width: 50px;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .produ-nvb .boots-nav {
    padding: 10px;
  }
}
@media only screen and (min-width: 769px) {
  .produ-nvb .boots-nav {
    display: none;
  }
}

.int-merch {
  padding: 30px 20px;
}
.int-merch .first-ti-me h1 {
  font-family: "Lilita One", sans-serif;
}
.int-merch .text-comment {
  margin-top: 25px;
}
.product-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  padding: 20px 30px 50px;
}
.product-options .merch-card {
  position: relative;
  width: 11.875em;
  height: 16.5em;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 3.4em;
}
.product-options .merch-card .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 1.875em;
  font-weight: 400;
  color: #000;
}
.product-options .merch-card .price {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 0.625em;
  color: #000;
}
.product-options .merch-card:hover::after {
  bottom: 0;
  opacity: 1;
}
.product-options .merch-card:active {
  transform: scale(0.98);
}
.product-options .merch-card:active::after {
  content: "Added !";
  height: 3.125em;
}
.product-options .merch-card .text {
  max-width: 55px;
}
.product-options .merch-card .image {
  place-items: center;
}
.product-options .merch-card .image img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 480px) {
  .product-options .merch-card .contenedor-sp {
    padding-top: 250px;
  }
  .product-options .merch-card .image {
    place-items: center;
  }
  .product-options .merch-card .image img {
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 480px) {
  .product-options .merch-card {
    display: flex;
    padding: 5px;
    width: 80%;
    height: auto;
  }
}
@media only screen and (min-width: 769px) {
  .product-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 40px;
    margin: 0px 100px;
  }
}

.buy-foot-aut {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  border-top: 2px solid white;
  background-color: #bdb76b;
}
.buy-foot-aut div {
  margin-top: 5px;
}

.ser-bdy {
  background-color: #FFE4B5;
}

.serv-nav {
  background-color: #FFF8DC;
  padding: 10px;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.serv-nav .the-second {
  overflow-x: auto;
  white-space: nowrap;
}
.serv-nav .the-second ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.serv-nav .the-second ul li {
  display: inline-block;
  margin: 0 1%;
}
.serv-nav .the-second ul li a {
  font-family: "Bebas Neue", sans-serif;
  text-decoration: none;
  color: gray;
}
.serv-nav .the-second ul li a img {
  max-width: 50px;
  margin-right: 10px;
}
.serv-nav .the-second ul li a:hover {
  color: black;
}
.serv-nav .the-second ul li a:active {
  color: black;
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  .serv-nav .the-second {
    display: none;
  }
}
.serv-nav .boots-nav {
  font-family: "Bebas Neue", sans-serif;
}
.serv-nav .boots-nav img {
  width: 50px;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .serv-nav .boots-nav {
    padding: 10px;
  }
}
@media only screen and (min-width: 769px) {
  .serv-nav .boots-nav {
    display: none;
  }
}

.discover {
  padding: 25px 0px;
}
.discover div h1 {
  margin: 0px 15px;
  text-align: center;
  font-family: "Lilita One", sans-serif;
}
.discover .modi-text {
  padding: 5px;
}
.discover .modi-text p {
  margin: 15px;
}
.discover .modi-text p em {
  font-weight: bold;
}

.ab-crd {
  padding: 15px;
}
.ab-crd div {
  margin: 20px;
  text-align: center;
}
.ab-crd div h2 {
  font-family: "Lilita One", sans-serif;
  font-size: 3em;
}
.ab-crd .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.ab-crd .cards .red {
  background-color: #f43f5e;
}
.ab-crd .cards .blue {
  background-color: #3b82f6;
}
.ab-crd .cards .green {
  background-color: #22c55e;
}
.ab-crd .cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 150px;
  width: 350px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms transform, 400ms box-shadow, 400ms background-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.ab-crd .cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}
.ab-crd .cards .card p.second-text {
  font-size: 0.7em;
}
.ab-crd .cards .card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  color: #333;
}
.ab-crd .cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.adventure {
  padding: 20px 10px;
}
.adventure div {
  margin: 10px;
}
.adventure div h3 {
  font-family: "Lilita One", sans-serif;
}

.foot-ser-aut {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  border-top: 2px solid white;
  background-color: #bdb76b;
}
.foot-ser-aut div {
  margin-top: 5px;
}

/*# sourceMappingURL=style.css.map */
