.end-bdy {
    background-color: #FFE4B5;
}

.finder {
    
    background-color: #FFF8DC;
    padding: 10px;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    nav {
        overflow-x: auto;
        white-space: nowrap;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                display: inline-block;
                margin: 0 1%;

                a {
                    font-family: "Bebas Neue", sans-serif;
                    text-decoration: none;
                    color: gray;

                    img {
                        max-width: 50px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

}

.ready {
    padding: 10px;

    .big {

        h1 {
            font-family: "Lilita One", sans-serif;
        }
    }

    .rb2 {
        margin: 5px;
        p {

        }
    }
}

.form-p {
    padding-bottom: 30px;

    .contact {

        h2 {
            font-family: "Lilita One", sans-serif;
            margin: 10px;
        }

        form {
            margin: 5px;

            fieldset {

            }
        }
    }
}

.limit-ft {
    display: flex;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    border-top: 2px solid white;
    background-color: #bdb76b;

  div {
    margin-top: 5px;
  }
}