.noso-bdy {
    background-color: #FFE4B5;
}

.navb {
    background-color: #FFF8DC;
    padding: 10px;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    .the-first {
        overflow-x: auto;
        white-space: nowrap;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                display: inline-block;
                margin: 0 1%;

                a {
                    font-family: "Bebas Neue", sans-serif;
                    text-decoration: none;
                    color: gray;

                    img {
                        max-width: 50px;
                        margin-right: 10px;
                    }
                }
            }
        }

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

    .boots-nav {

        img {
            width: 50px;
            height: auto;
        }

        @media only screen and (max-width:768px) {
            padding: 10px; /* Ejemplo de ajuste de padding */

            
        }

        @media only screen and (min-width:981px) {
            display: none; 
        }
    }
}

.identity {
    padding: 35px 7px;
    display: flex;
    flex-direction: column; 
    align-items: center;

    .our-story {
        margin: 10px;

        h1 {
            text-align: center;
            font-family: "Lilita One", sans-serif;
            font-size: 2em;

            @media only screen and (min-width:981px) {
                font-size: 4em; 
            }
        }
    }

    .about {

        margin:10px;
        
        p {
            @media only screen and (min-width:981px) {
                text-align: center;
                font-size: 25px;
            }
        }

        @media only screen and (min-width:981px) {
            margin: 60px 0px;
        }
    }

    .amigos-img {
        margin: 20px 0px;

        img {
            width: 70%;
            margin: 0 auto;
            display: block;
        }
    }

    @media only screen and (min-width:981px) {
        padding: 30px;
    }
}

.adj-first {
    padding: 17px 5px 35px;
    text-align: center;

    .af-next {
        margin: 5px;

        h2 {
            font-family: "Lilita One", sans-serif;
        }
    }

    .soc-net {
        padding-top: 15px;

        a {
            img {
                max-width: 100px; 
                height: 100px;
                margin: 0 30px;


                @media only screen and (max-width: 768px) {
                    max-width: 80px;
                    height: 80px;
                    margin: 0 15px;    
                }
            }
        }
    }
}

.foot-nos-aut {
    display: flex;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    border-top: 2px solid white;
    background-color: #bdb76b;

    div {
        margin-top: 5px;
    }
}