.noso-bdy {
    background-color: #FFE4B5;
}

.navb {
    background-color: #FFF8DC;
    padding: 10px;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    nav {
        overflow-x: auto;
        white-space: nowrap;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                display: inline-block;
                margin: 0 1%;

                a {
                    font-family: "Bebas Neue", sans-serif;
                    text-decoration: none;
                    color: gray;

                    img {
                        max-width: 50px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

.identity {
    padding: 15px 5px 15px 5px;
    display: flex;
    flex-direction: column; 
    align-items: center;

    div {

        h1 {
            text-align: center;
            font-family: "Bebas Neue", sans-serif;
            font-size: 2em;
        }
    }

    .amigos-img {

        img {
            width: 70%;
            margin: 0 auto;
            display: block;
        }
    }
}

.adj-first {
    padding-top: 5px;

    div {
        margin: 5px;

        h2 {
            font-family: "Bebas Neue", sans-serif;
        }
    }
}

.foot-nos-aut {
    display: flex;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    border-top: 2px solid white;
    background-color: #bdb76b;

    div {
        margin-top: 5px;

        p {

        }
    }
}