.merch-bdy {
    background-color: #FFE4B5;
}

.produ-nvb {
  background-color: #FFF8DC;
  padding: 10px;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;

  .the-third {
    overflow-x: auto;
    white-space: nowrap;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        display: inline-block;
        margin: 0 1%;

        a {
          font-family: "Bebas Neue", sans-serif;
          text-decoration: none;
          color: gray;

          img {
            max-width: 50px;
            margin-right: 10px;
          }

          &:hover {
            color: black;
          }

          &:active {
            color: black;
            text-decoration: underline;
          }
        }
      }
    }

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  .boots-nav {
    font-family: "Bebas Neue", sans-serif;

    img {
      width: 50px;
      height: auto;
    }

    @media only screen and (max-width:768px) {
      padding: 10px;
    }

    @media only screen and (min-width:769px) {
      display: none; 
    }
  }
}

.int-merch {
  padding: 30px 20px;

  .first-ti-me {
    h1 {
      font-family: "Lilita One", sans-serif;
    }
  }

  .text-comment {
    margin-top: 25px;
    p {

    }
  }
}


.product-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr); 
  gap: 20px;
  padding: 20px 30px 50px;
  
  .merch-card {
    position: relative;
    width: 11.875em;
    height: 16.5em;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5em;
    padding-bottom: 3.4em;

    .title {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.9em;
      position: absolute;
      left: 0.625em;
      bottom: 1.875em;
      font-weight: 400;
      color: #000;
    }

    .price {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 0.9em;
      position: absolute;
      left: 0.625em;
      bottom: 0.625em;
      color: #000;
    }

    &:hover::after {
      bottom: 0;
      opacity: 1;
    }

    &:active {
      transform: scale(0.98);
    }

    &:active::after {
      content: "Added !";
      height: 3.125em;
    }

    .text {
      max-width: 55px;
    }

    .image {
      place-items: center;

      img {
        width: 100%;
        height: auto;
      }

      @media only screen and (max-width:480px) {
        /* tengo que corregir la img */
      }
    }

    @media only screen and (max-width:480px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      padding: 5px;
      width: 80%; 
      height: auto;
    }
  }

  @media only screen and (min-width:769px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 40px;
    margin: 0px 100px;
  }
}


.buy-foot-aut {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  border-top: 2px solid white;
  background-color: #bdb76b;

  div {
    margin-top: 5px;
  }
}