.ser-bdy {
    background-color: #FFE4B5;

}

.serv-nav {
    background-color: #FFF8DC;
    padding: 10px;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    .the-second {
        overflow-x: auto;
        white-space: nowrap;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                display: inline-block;
                margin: 0 1%;

                a {
                    font-family: "Bebas Neue", sans-serif;
                    text-decoration: none;
                    color: gray;

                    img {
                        max-width: 50px;
                        margin-right: 10px;
                    }

                    &:hover {
                        color: black;
                    }

                    &:active {
                        color: black;
                        text-decoration: underline;
                    }
                }
            }
        }

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

    .boots-nav {
        font-family: "Bebas Neue", sans-serif;

        img {
            width: 50px;
            height: auto;
        }

        @media only screen and (max-width:768px) {
            padding: 10px;
        }

        @media only screen and (min-width:769px) {
            display: none; 
        }
    }
}


.discover {
    padding: 25px 0px;

    div {

        h1 {
            margin: 0px 15px;
            text-align: center;
            font-family: "Lilita One", sans-serif;
        }
    }

    .modi-text {
        padding: 5px;

        p {
            margin: 15px;

            em {
                font-weight: bold;
            }
        }
    }
}


.ab-crd {
    padding: 15px;

    div {
        margin: 20px;
        text-align: center;

        h2 {
            font-family: "Lilita One", sans-serif;
            font-size: 3em;
        }
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
      
        .red {
          background-color: #f43f5e;
        }
      
        .blue {
          background-color: #3b82f6;
        }
      
        .green {
          background-color: #22c55e;
        }
      
        .card {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          height: 150px;
          width: 350px;
          border-radius: 10px;
          color: white;
          cursor: pointer;
          transition: 400ms transform, 400ms box-shadow, 400ms background-color;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      
          p.tip {
            font-size: 1em;
            font-weight: 700;
          }
      
          p.second-text {
            font-size: 0.7em;
          }
      
          &:hover {
            transform: scale(1.1);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
            background-color: rgba(255, 255, 255, 0.1);
            color: #333;
          }
        }
      
        &:hover > .card:not(:hover) {
          filter: blur(10px);
          transform: scale(0.9);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
    }
}

  

.adventure {
    padding: 20px 10px;

    div {
        margin: 10px;
        h3{
            font-family: "Lilita One", sans-serif;

        }
    }
}

.foot-ser-aut {
    display: flex;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    border-top: 2px solid white;
    background-color: #bdb76b;

    div {
        margin-top: 5px;
    }
}