/* Extendes para mis botonoes del nav */

%botones {
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    color: gray;
}

%ini-bot {
    color: #ffffe0;
    font-family: "Lobster", sans-serif;
    font-size: 40px;
}

%pag-bk {
    background-image: url(../../Imagenes/page-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}