/* Extendes para mis botonoes del nav */

%botones {
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    color: #3c6e71;
}

%ini-bot {
    color: #284b63;
    font-family: "Lobster", sans-serif;
    font-size: 40px;
}

%nav-ext {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    border-top: 4px solid #3c6e71;
    border-bottom: 4px solid #3c6e71;
}